body {
  background-image: linear-gradient(to right top, #051937, #00295c, #003a83, #004cac, #005dd6);
  margin: 0;

  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#clock1 {
  width: 740px;
  height: 100px;
  padding: 10px;
  border: 5px solid white;
  background: rgb(23 23 23);
  box-shadow: 0px 0px 15px 3px #2a2a35,inset 0px 0px 10px 3px #ffffff;
  margin: 20px auto;
  display: flex;
  transform: translate3d(8px, -8px, 0);
  box-shadow: #c06e2f 1px -1px,#c06e2f 2px -2px, #c06e2f 3px -3px,#c06e2f 4px -4px, #c06e2f 5px -5px, #c06e2f 6px -6px, #c06e2f 7px -7px, #c06e2f 8px -8px, #c06e2f 9px -9px, #c06e2f 10px -10px, #c06e2f 11px -11px, #c06e2f 12px -12px, #c06e2f 13px -13px, #c06e2f 14px -14px, #c06e2f 15px -15px, #000000 15px -15px;
}
#clock1 div {
  display: inline-flex;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c0 {
  width: 100px;
  height: 100px;
  background: url("number.png");
}



.cc {
  width: 50px;
  height: 100px;
  background: url("number.png");
  background-position: 50px;
  margin: 0 10px;
}
.c0 {
  background-position: 0px;
}
.c1 {
  background-position: -100px;
}
.c2 {
  background-position: -200px;
}
.c3 {
  background-position: -300px;
}
.c4 {
  background-position: -400px;
}
.c5 {
  background-position: -500px;
}
.c6 {
  background-position: 450px;
}
.c7 {
  background-position: 350px;
}
.c8 {
  background-position: 250px;
}
.c9 {
  background-position: 150px;
}
